<%= form_with(model: todo, local: true) do |form| %>
  <% if todo.errors.any? %>
    <div id="">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-2 control-label">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="checkbox">
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
